Repository liebe-magi/OpenSW: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, eslint, prettier

cargo-fmt:
  name: cargo fmt
  description: Format files with cargo fmt.
  entry: cargo fmt
  language: system
  args:
  - --manifest-path
  - src-tauri/Cargo.toml
  - --all
  - --
  - --check

cargo-clippy:
  name: cargo clippy
  description: Lint rust sources
  entry: cargo clippy
  language: system
  args:
  - --manifest-path
  - src-tauri/Cargo.toml
  - --
  - -D
  - warnings
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check the package for errors.
  entry: cargo check
  language: system
  args:
  - --manifest-path
  - src-tauri/Cargo.toml
  pass_filenames: false

eslint:
  name: eslint
  description: Lint files with eslint.
  entry: bun run lint
  language: system
  pass_filenames: false

prettier:
  name: prettier
  description: Format files with prettier.
  entry: bun run format:check
  language: system
  pass_filenames: false

feat: Integrate Local Whisper Model and Audio Utils
  .eslintignore
  openspec/changes/integrate-whisper-local/design.md
  openspec/changes/integrate-whisper-local/proposal.md
  openspec/changes/integrate-whisper-local/specs/audio-transcription/spec.md
  openspec/changes/integrate-whisper-local/tasks.md
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/audio.rs
  src-tauri/src/audio_utils.rs
  src-tauri/src/main.rs
  src/components/AudioRecorder.tsx
Due: cargo-fmt, cargo-clippy, cargo-check, eslint, prettier

feat: add initial Tauri application configuration and CUDA build settings.
  src-tauri/.cargo/config.toml
  src-tauri/tauri.conf.json
Due: prettier

feat: Implement Ollama integration and clipboard functionality
  openspec/changes/integrate-ollama-clipboard/design.md
  openspec/changes/integrate-ollama-clipboard/proposal.md
  openspec/changes/integrate-ollama-clipboard/specs/clipboard-integration/spec.md
  openspec/changes/integrate-ollama-clipboard/specs/ollama-integration/spec.md
  openspec/changes/integrate-ollama-clipboard/tasks.md
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/clipboard.rs
  src-tauri/src/main.rs
  src-tauri/src/ollama.rs
  src/components/AudioRecorder.tsx
  src/components/OllamaSettings.tsx
Due: cargo-fmt, cargo-clippy, cargo-check, eslint, prettier

Archive completed OpenSpec changes
  openspec/changes/archive/2025-12-02-establish-audio-io/design.md
  openspec/changes/archive/2025-12-02-establish-audio-io/proposal.md
  openspec/changes/archive/2025-12-02-establish-audio-io/specs/audio-playback/spec.md
  openspec/changes/archive/2025-12-02-establish-audio-io/specs/audio-recording/spec.md
  openspec/changes/archive/2025-12-02-establish-audio-io/specs/audio-storage/spec.md
  openspec/changes/archive/2025-12-02-establish-audio-io/tasks.md
  openspec/changes/archive/2025-12-02-integrate-ollama-clipboard/design.md
  openspec/changes/archive/2025-12-02-integrate-ollama-clipboard/proposal.md
  openspec/changes/archive/2025-12-02-integrate-ollama-clipboard/specs/clipboard-integration/spec.md
  openspec/changes/archive/2025-12-02-integrate-ollama-clipboard/specs/ollama-integration/spec.md
  openspec/changes/archive/2025-12-02-integrate-ollama-clipboard/tasks.md
  openspec/changes/archive/2025-12-02-integrate-whisper-local/design.md
  openspec/changes/archive/2025-12-02-integrate-whisper-local/proposal.md
  openspec/changes/archive/2025-12-02-integrate-whisper-local/specs/audio-transcription/spec.md
  openspec/changes/archive/2025-12-02-integrate-whisper-local/tasks.md
  openspec/changes/integrate-ollama-clipboard/design.md
  openspec/changes/integrate-ollama-clipboard/proposal.md
  openspec/specs/audio-playback/spec.md
  openspec/specs/audio-recording/spec.md
  openspec/specs/audio-storage/spec.md
  openspec/specs/audio-transcription/spec.md
  openspec/specs/clipboard-integration/spec.md
  openspec/specs/ollama-integration/spec.md
  src-tauri/tauri.conf.json
  src/components/AudioRecorder.tsx
  src/components/OllamaSettings.tsx
Due: eslint, prettier

chore: migrate from Tauri v1 to v2
  bun.lock
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/capabilities/migrated.json
  src-tauri/src/audio.rs
  src-tauri/src/main.rs
  src-tauri/tauri.conf.json
  src/components/AudioRecorder.tsx
  src/components/OllamaSettings.tsx
Due: cargo-fmt, cargo-clippy, cargo-check, eslint, prettier

feat: implement hybrid UI with dynamic resizing, global shortcuts, and auto-pipeline
  bun.lock
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/capabilities/desktop.json
  src-tauri/capabilities/migrated.json
  src-tauri/src/main.rs
  src-tauri/src/tray.rs
  src-tauri/tauri.conf.json
  src/App.tsx
  src/components/AudioRecorder.tsx
  src/components/RecordingStatus.tsx
Due: cargo-fmt, cargo-clippy, cargo-check, eslint, prettier

feat: Compact window workflow with stage indicators and system tray integration
  src-tauri/src/main.rs
  src-tauri/src/ollama.rs
  src-tauri/tauri.conf.json
  src/App.css
  src/components/AudioRecorder.tsx
  src/components/OllamaSettings.tsx
  src/components/RecordingStatus.tsx
Due: cargo-fmt, cargo-clippy, cargo-check, eslint, prettier

docs: add README (EN/JA) and prepare for v0.1.0 release
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  README.ja.md
  README.md
  openspec/changes/integrate-ollama-clipboard/design.md
  openspec/changes/integrate-ollama-clipboard/proposal.md
  openspec/changes/integrate-ollama-clipboard/specs/ollama-integration/spec.md
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/capabilities/desktop.json
  src-tauri/capabilities/migrated.json
  src-tauri/tauri.conf.json
  src/App.css
  src/App.tsx
  src/components/AudioRecorder.tsx
  src/components/OllamaSettings.tsx
  src/components/RecordingStatus.tsx
Due: eslint, prettier

chore: satisfy pre-commit checks and restore full config
  .pre-commit-config.yaml
  src-tauri/src/audio.rs
  src-tauri/src/audio_utils.rs
  src-tauri/src/main.rs
  src-tauri/src/tray.rs
  src/components/RecordingStatus.tsx
Due: cargo-fmt, cargo-clippy, cargo-check, eslint, prettier

style: update window dimensions and apply formatting fixes
  .prettierignore
  src-tauri/src/main.rs
  src-tauri/tauri.conf.json
Due: cargo-fmt, cargo-clippy, cargo-check, prettier

docs: add app screenshots to README
  README.ja.md
  README.md
  screenshots/copied.png
  screenshots/main_window.png
  screenshots/recording.png
  screenshots/refining.png
  screenshots/transcribing.png
Due: prettier

Update Rust dependency lockfile.
  src-tauri/Cargo.lock
Due: none

docs: Adjust README table column widths to better display workflow screenshots.
  README.ja.md
  README.md
Due: prettier

chore: change license to MIT OR Apache-2.0 dual license
  LICENSE-APACHE
  LICENSE-MIT
  README.ja.md
  README.md
  src-tauri/Cargo.toml
Due: prettier

docs: add download section with release links
  README.ja.md
  README.md
Due: prettier

Enhance Renovate configuration with new settings
  renovate.json
Due: prettier

feat: Refactor Renovate configuration for improved dependency management and remove CI trigger for pull requests to main.
  .github/workflows/ci.yml
  renovate.json
Due: prettier

Migrate ESLint to flat config format for v9 compatibility
  .eslintignore
  .eslintrc.cjs
  bun.lock
  eslint.config.js
  package.json
  scripts/generate-readme-logo.js
Due: prettier

fix: update API calls for whisper-rs 0.15, cpal 0.17, and rodio 0.21
  src-tauri/src/audio.rs
  src-tauri/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check

Fix macOS build & update docs
  README.ja.md
  README.md
  package.json
  scripts/tauri-build.mjs
  src-tauri/.cargo/config.toml
Due: prettier

Fix lint config for .mjs files
  .pre-commit-config.yaml
  eslint.config.js
Due: none

Address PR #20 review comment: Clarify Linux build settings
  scripts/tauri-build.mjs
Due: none

Address PR #20 review comments: Dynamic package manager & error handling
  scripts/tauri-build.mjs
Due: none

Fix pre-commit rules for formatting
  .pre-commit-config.yaml
Due: none

fix: upgrade rubato and cpal API compatibility
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/audio.rs
  src-tauri/src/audio_utils.rs
Due: cargo-fmt, cargo-clippy, cargo-check

feat: add Tauri Updater auto-update functionality
  .env.example
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  bun.lock
  package.json
  scripts/check-version-sync.sh
  scripts/generate-latest-json.mjs
  scripts/tauri-build.mjs
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/capabilities/desktop.json
  src-tauri/src/main.rs
  src-tauri/tauri.conf.json
  src/components/AudioRecorder.tsx
  src/components/UpdateChecker.tsx
Due: cargo-fmt, cargo-clippy, cargo-check, eslint, prettier

fix: address PR review feedback
  scripts/generate-latest-json.mjs
  scripts/tauri-build.mjs
  src/components/UpdateChecker.tsx
Due: eslint, prettier

docs: add Signing & Auto-Update section to README
  README.ja.md
  README.md
Due: prettier

chore: output latest.json to release/ directory for multi-machine workflow
  release/latest.json
  scripts/generate-latest-json.mjs
Due: prettier

feat: add darwin-aarch64 release information to latest.json
  release/latest.json
Due: prettier

fix: show 'Up to date' as success instead of error in UpdateChecker
  src/components/UpdateChecker.tsx
Due: eslint, prettier

chore: Update macOS ARM64 release signature in latest.json
  release/latest.json
Due: prettier

feat: add latest release metadata for version 0.1.1
  release/latest.json
Due: prettier

Feat: Add CPU/GPU inference toggle and refactor UI with tabs
  src-tauri/src/main.rs
  src/components/AudioRecorder.tsx
Due: cargo-fmt, cargo-clippy, cargo-check, eslint, prettier

Feat: Hide GPU selection on macOS and force Metal usage
  src/components/AudioRecorder.tsx
Due: eslint, prettier

Refactor: Constantize isMacOS and add nvidia-smi timeout
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/main.rs
  src/components/AudioRecorder.tsx
Due: cargo-fmt, cargo-clippy, cargo-check, eslint, prettier

docs: remove OpenSpec instructions file AGENTS.md
  .agent/workflows/openspec-apply.md
  .agent/workflows/openspec-archive.md
  .agent/workflows/openspec-proposal.md
  AGENTS.md
  openspec/AGENTS.md
  openspec/changes/archive/2025-12-02-establish-audio-io/design.md
  openspec/changes/archive/2025-12-02-establish-audio-io/proposal.md
  openspec/changes/archive/2025-12-02-establish-audio-io/specs/audio-playback/spec.md
  openspec/changes/archive/2025-12-02-establish-audio-io/specs/audio-recording/spec.md
  openspec/changes/archive/2025-12-02-establish-audio-io/specs/audio-storage/spec.md
  openspec/changes/archive/2025-12-02-establish-audio-io/tasks.md
  openspec/changes/archive/2025-12-02-integrate-ollama-clipboard/design.md
  openspec/changes/archive/2025-12-02-integrate-ollama-clipboard/proposal.md
  openspec/changes/archive/2025-12-02-integrate-ollama-clipboard/specs/clipboard-integration/spec.md
  openspec/changes/archive/2025-12-02-integrate-ollama-clipboard/specs/ollama-integration/spec.md
  openspec/changes/archive/2025-12-02-integrate-ollama-clipboard/tasks.md
  openspec/changes/archive/2025-12-02-integrate-whisper-local/design.md
  openspec/changes/archive/2025-12-02-integrate-whisper-local/proposal.md
  openspec/changes/archive/2025-12-02-integrate-whisper-local/specs/audio-transcription/spec.md
  openspec/changes/archive/2025-12-02-integrate-whisper-local/tasks.md
  openspec/changes/integrate-ollama-clipboard/design.md
  openspec/changes/integrate-ollama-clipboard/proposal.md
  openspec/project.md
  openspec/specs/audio-playback/spec.md
  openspec/specs/audio-recording/spec.md
  openspec/specs/audio-storage/spec.md
  openspec/specs/audio-transcription/spec.md
  openspec/specs/clipboard-integration/spec.md
  openspec/specs/ollama-integration/spec.md
Due: prettier

docs: add 3-phase roadmap for 0.1.2 / 0.2.0 / 0.3.0
  docs/ROADMAP.md
Due: prettier

ci: add macOS Rust check + isolate whisper-rs / audio crates
  .github/workflows/ci.yml
  .gitignore
  .prettierignore
  renovate.json
Due: prettier

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check: any of: \.rs$
  eslint: any of: \.(ts|tsx)$
  prettier: any of: \.(ts|tsx|css|json|md)$
